---
const { href, date, tag, title, imgSrc } = Astro.props;
import { Image } from 'astro:assets';
import Link from './Link.astro';
---

<Link href={href} target="_blank" class="portfolio-card">
  <time class="portfolio-time mb-1">{date}</time>
  <span class="portfolio-tag mb-2 inline-block px-2 py-1 text-gray-600 text-xs bg-gray-50 rounded">{tag}</span>
  <h3 class="portfolio-title mb-2">{title}</h3>
  <Image src={imgSrc} alt={title} class="w-full h-auto object-cover" />
</Link>
